@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
  }
}

@layer base {
  body {
    @apply bg-black overflow-hidden m-0 p-0 w-screen h-screen;
  }
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  overflow: hidden;
}

#yt-player {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  border: none;
}
